<a href="#" data-id="{{ id }}" class="overview-item overview-item__media js-media-item" draggable="true" ondragstart="Drupal.mfbDragDrop.onDragStartHandler(event, 'media')">
  <div class="overview-item__media__selection">
    <div class="selected-icon"></div>
  </div>
  <img src="{{ thumbnail }}" class="overview-item__media__image" alt="folder">
  <div class="overview-item__media__info">
    <i style="background-image: url('{{ icon }}')" class="info_icon"></i>
    <div class="info_details">
      <span class="info_details__name js-item-label" data-id="{{ id }}">{{ name }}</span>
      <span class="info_details__size">{{ size }}</span>
      <span class="info_details__type">{{ type }}</span>
    </div>
  </div>
</a>
