<div class="media-folder-browser">

  <div class="folder-context-menu js-context-menu">
    <ul class="context-options js-entity-context">
      <li class="option">
        {{ "Move to"|t }}
        <ul class="context-options sub-options js-context-move-list">
          {# <li class="option js-context-move-folder" data-id="1">Folder 1</li> #}
        </ul>
      </li>
      <li class="option js-context-action" data-action="edit">{{ "Edit"|t }}</li>
      <li class="option js-context-action" data-action="rename">{{ "Rename"|t }}</li>
      <li class="option js-context-action" data-action="delete">{{ "Delete"|t }}</li>
    </ul>
    <ul class="context-options js-overview-context">
      <li class="option js-context-action" data-action="add-folder">{{ "Add folder"|t }}</li>
      <li class="option js-context-action" data-action="add-media">{{ "Add media"|t }}</li>
    </ul>
  </div>

  <div class="mfb-sidebar">
      {{ sidebar_folders }}
  </div>
  <div class="mfb-overview">
    <div class="overview-bar search">
      <div class="search__current-folder js-current-folder">Root</div>
    </div>
    <div class="loader-container hidden">
      <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    </div>
    {{ results }}
    <div class="overview-bar actions">
      <div class="select-actions js-select-actions hidden-scale-y">
        <div class="actions__count"><span class="js-selected-count">0</span>{{ " items selected"|t }}</div>
        <div class="mfb-button js-submit-selected">{{ "Add selected"|t }}</div>
      </div>
      <div class="standard-actions js-standard-actions">
        <div class="mfb-button js-submit-add-folder">{{ "Add folder"|t }}</div>
        <div class="mfb-button js-submit-add-media">{{ "Add media"|t }}</div>
      </div>
    </div>
  </div>
</div>